<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>用户管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>联系人管理<i class="fa fa-user"></i></h2>
                        <div class="clearfix"></div>
                    </div>
                    <form class="form-horizontal form-label-left" th:action="@{/customer/ladd}" action="/customer/ladd"
                          method="post">
                        <div class="x_content">
                            <div class="clearfix"></div>
                            <div class="x_content">
                                <br>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">客户名称：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="inputSuccess1" readonly="readonly"
                                           name="custName" th:value="${customer.custName}">
                                </div>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">客户编号：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="inputSuccess2" readonly="readonly"
                                           name="custNo" th:value="${customer.custNo}">
                                </div>
                            </div>
                        </div>
                        <button id="send" type="submit" class="btn btn-success">新建联系人</button>
                    </form>
                    <div class="col-sm-12">
                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                               cellspacing="0" width="100%" role="grid"
                               aria-describedby="datatable-responsive_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="First name: activate to sort column descending"
                                    aria-sort="ascending">姓名
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    性别
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    职位
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    办公电话
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    手机
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    备注
                                </th>

                                <th class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                    aria-label="Last name: activate to sort column ascending">
                                    操作
                                </th>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" th:each="linkman:${linkman}">
                                <td th:text="${linkman.lkmName}">lkmName</td>
                                <td th:text="${linkman.lkmSex}">lkmSex</td>
                                <td th:text="${linkman.lkmPostion}">lkmPostion</td>
                                <td th:text="${linkman.lkmTel}">lkmTel</td>
                                <td th:text="${linkman.lkmMobile}">lkmMobile</td>
                                <td th:text="${linkman.lkmMemo}">lkmMemo</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">点击操作</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="editInfo" href="/user/edit?usrId=1"
                                                   th:href="@{/customer/ledit(lkmId=${linkman.lkmId})}"
                                                   data-toggle="tooltip" data-placement="top" title=""
                                                   data-original-title="编辑">编辑</a></li>
                                            <li><a class="delInfo" id="del" href="#"
                                                   th:onclick="|doDel(this,${linkman.lkmId})|"
                                                   data-toggle="tooltip" data-placement="top" title=""
                                                   data-original-title="删除">删除</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    function page_nav(dom, index) {
        $("#fy").val(index);
        $(dom).submit();
    }

    function doDel(obj, lkmId) {
        if (confirm("你确定需要删除该用户信息吗？")) {
            $.ajax({
                type: "POST",
                url: "/customer/ldel",
                data: "lkmId=" + lkmId,
                dataType: "json",
                success: function (data) {
                    if (data.delResult == "true") {//删除成功：移除删除行
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error: function (data) {
                    alert("对不起，删除失败");
                }
            });
        }
    }


</script>
</html>