<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>用户添加</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>新建交往记录<i class="fa fa-user"></i></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/customer/asave}"
                              action="/activity/asave"
                              method="post">
                            <div class="x_content">
                                <input type="hidden" class="form-control" id="atvCustName" name="atvCustName"
                                       th:value="${custName}">
                                <input type="hidden" class="form-control" id="atvCustNo" name="atvCustNo"
                                       th:value="${custNo}">
                                <br>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">时间：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="atvDate" name="atvDate">
                                </div>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">地点：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="atvPlace" name="atvPlace">
                                </div>


                                <label class="control-label col-md-3 col-sm-3 col-xs-12">概要：</label>
                                <div class="col-md-9 col-sm-9 form-group has-feedback">
                                    <input type="text" class="form-control" id="atvTitle" name="atvTitle">
                                </div>


                                <label class="control-label col-md-3 col-sm-3 col-xs-12">详细信息：</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea class="form-control" rows="3" name="atvDesc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">保存</button>
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                    <br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function () {
        $("#back").on("click", function () {
            window.history.back();
        });

    });


    $(document).submit(function () {
        if ($("#atvDate").val() == null || $("#atvDate").val() == "") {
            alert("时间不能为空");
            return false;
        }
        if ($("#atvPlace").val() == null || $("#atvPlace").val() == "") {
            alert("地点不能为空");
            return false;
        }
        if ($("#atvTitle").val() == null || $("#atvTitle").val() == "") {
            alert("概要不能为空");
            return false;
        }
        return true;
    })
</script>
</html>